Repository manfer993/Cypress-Cucumber-Js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
    "**/*.{js,jsx,json,feature}": [
        "prettier --write",
        "eslint"
    ],
    "**/*.md": [
        "prettier --write"
    ]
}

Update README.md
  README.md
Due: prettier --write

Update README.md (#3)
  README.md
Due: prettier --write

style: :package: add new husky validator to commit convention
  .eslintignore
  .husky/commit-msg
  .lintstagedrc
  .vscode/extensions.json
  commitlint.config.js
  package-lock.json
  package.json
Due: prettier --write, eslint

docs: :memo: add change log documentation
  CHANGELOG.md
  README.md
  package-lock.json
  package.json
Due: prettier --write, eslint

refactor: :package: fix convetional commit
  .commitlintrc.json
  .husky/commit-msg
  CHANGELOG.md
  commitlint.config.js
  package-lock.json
  package.json
Due: prettier --write, eslint

style: :package: fix dev dependencies
  package-lock.json
  package.json
Due: prettier --write, eslint

style: :recycle: add prettier formatter and apply it
  .eslintrc.json
  .lintstagedrc
  .vscode/extensions.json
  cucumber-html-report.js
  cypress.config.js
  cypress/e2e/step_definitions/inventory.js
  cypress/e2e/step_definitions/login.js
  cypress/support/commands.js
  cypress/support/e2e.js
  cypress/support/locators/crossLocators.js
  cypress/support/locators/inventoryLocators.js
  cypress/support/locators/loginLocators.js
  cypress/support/pages/crossPage.js
  cypress/support/pages/inventoryPage.js
  cypress/support/pages/loginPage.js
  jsconfig.json
  package-lock.json
  package.json
Due: prettier --write, eslint

ci: :green_heart: add first github action
  .github/workflows/ci.yml
  package.json
Due: prettier --write, eslint

ci: :green_heart: fix github action
  .github/workflows/ci.yml
Due: none

docs: :memo: add github action plugin recommendation
  .vscode/extensions.json
Due: prettier --write, eslint

ci: :green_heart: update json formatter
  json-formatter/cucumber-json-formatter
Due: none

ci: :green_heart: add branch name validator
  .husky/pre-commit
Due: none

ci: :green_heart: add branch name validator (#4)
  .husky/pre-commit
Due: none
